<template>
  <div>
    <br />
    <b-button variant="outline-success" class="float-right" @click="addNewUser"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Namejob"
          label-for="namejob"
          :invalid-feedback="invalidFeedbackNamejob"
          valid-feedback="สำเร็จ"
          :state="stateNamejob"
        >
          <b-form-input
            id="namejob"
            v-model="form.namejob"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Namecompany"
          label-for="namecompany"
          :invalid-feedback="invalidFeedbackNamecompany"
          valid-feedback="สำเร็จ"
          :state="stateNamecompany"
        >
          <b-form-input
            id="namecompany"
            v-model="form.namecompany"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Jobtype:"
          label-for="jobtype"
          :invalid-feedback="invalidFeedbackJobtype"
          valid-feedback="สำเร็จ"
          :state="stateJobtype"
        >
          <b-form-select
            id="jobtype"
            v-model="form.jobtype"
            :options="jobtypeOptions"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="Require"
          label-for="require"
          :invalid-feedback="invalidFeedbackRequire"
          valid-feedback="สำเร็จ"
          :state="stateRequire"
        >
          <b-form-input
            id="require"
            v-model="form.require"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Responsibility"
          label-for="responsibility"
          :invalid-feedback="invalidFeedbackResponsibility"
          valid-feedback="สำเร็จ"
          :state="stateResponsibility"
        >
          <b-form-input
            id="responsibility"
            v-model="form.responsibility"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Requirements"
          label-for="requirements"
          :invalid-feedback="invalidFeedbackRequirements"
          valid-feedback="สำเร็จ"
          :state="stateRequirements"
        >
          <b-form-input
            id="requirements"
            v-model="form.requirements"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Provinces"
          label-for="provinces"
          :invalid-feedback="invalidFeedbackProvinces"
          valid-feedback="สำเร็จ"
          :state="stateProvinces"
        >
          <b-form-input
            id="provinces"
            v-model="form.provinces"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Contact"
          label-for="contact"
          :invalid-feedback="invalidFeedbackContact"
          valid-feedback="สำเร็จ"
          :state="stateContact"
        >
          <b-form-input
            id="contact"
            v-model="form.contact"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Salary"
          label-for="salary"
          :invalid-feedback="invalidFeedbackSalary"
          valid-feedback="สำเร็จ"
          :state="stateSalary"
        >
          <b-form-input
            id="salary"
            v-model="form.salary"
            required
          ></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
    <!-- Modal view jobposting-->
    <b-modal id="view-jobposting" size="lg" hide-footer>
      <template #modal-title>
        View Job Posting Detail
      </template>
      <div class="d-block text-center">
        <h3>Hello From This Modal!</h3>
      </div>
      <b-button class="mt-3" block @click="$bvModal.hide('view-jobposting')"
        >Close Me</b-button
      >
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios'
// import jobseekerService from './JobseekerService.js '
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        _id: '',
        namejob: '',
        namecompany: '',
        jobtype: null,
        require: '',
        responsibility: '',
        requirements: '',
        provinces: '',
        contact: '',
        salary: ''
      },
      jobtypeOptions: [
        { text: 'Select One', value: null },
        { value: 'งานประจำ', text: 'งานประจำ' },
        { value: 'งานนอกเวลา', text: 'งานนอกเวลา' },
        { value: 'งานอิสระ', text: 'งานอิสระ' },
        { value: 'นักศึกษาฝึกงาน', text: 'นักศึกษาฝึกงาน' },
        { value: 'สัญญาจ้าง', text: 'สัญญาจ้าง' },
        { value: 'สหกิจศึกษา', text: 'สหกิจศึกษา' }
      ],
      userList: [],
      fields: ['namejob', 'namecompany', 'jobtype', 'require', 'operation'],
      jobposting: {},
      company: {
        _id: '60264628f40c462bd8428469',
        companyname: 'Patcharawalai',
        address: '1/11 ต.บางที อ.บางครั้ง จ.บางวัน',
        email: 'AAA@gmail.com',
        tel: '0955555555'
      }
    }
  },
  methods: {
    addNewUser () {
      console.log('Add New user ')
      this.title = 'เพิ่มประกาศรับสมัครงาน'
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit ')
      console.log(user)
      this.title = 'แก้ไขประกาศรับสมัครงาน'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del ')
      console.log(user)
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm(
          'ท่านต้องการลบประกาศงานตำแหน่ง ' + user.namejob + ' หรือไม่!!!',
          {
            title: 'กรุณายืนยัน',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'YES',
            cancelTitle: 'NO',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/jobposting/' + user._id)
              .then(res => {
                console.log(res)
                this.getJobposting()
              })
          }
        })
    },
    viewUser (user) {
      this.jobposting = user
      this.$bvModal.show('view-jobposting')
    },
    resetModal () {
      this.form = {
        _id: '',
        namejob: '',
        namecompany: '',
        jobtype: null,
        require: '',
        responsibility: '',
        requirements: '',
        provinces: '',
        contact: '',
        salary: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      if (
        this.stateNamejob === false ||
        this.stateNamecompany === false ||
        this.stateJobtype === false ||
        this.stateRequire === false ||
        this.stateResponsibility === false
      ) {
        return
      }
      if (this.form._id !== '') {
        axios
          .put('http://localhost:3000/jobposting', this.form)
          .then(res => {
            console.log(res)
            this.getJobposting()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/jobposting', this.form)
          .then(res => {
            console.log(res)
            this.getJobposting()
          })
          .catch(err => {
            console.log(err)
          })
      }
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    getJobposting () {
      axios
        .get('http://localhost:3000/jobposting')
        .then(res => {
          console.log(res)
          this.userList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateNamejob () {
      return this.form.namejob.length >= 2
    },
    invalidFeedbackNamejob () {
      if (this.form.namejob.length > 0) {
        return 'ชื่องานต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'ต้องใส่ชื่องาน'
    },
    stateNamecompany () {
      return this.form.namecompany.length >= 2
    },
    invalidFeedbackNamecompany () {
      if (this.form.namecompany.length > 0) {
        return 'ชื่อบริษัทต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'ต้องใส่นามสกุล'
    },
    stateJobtype () {
      return this.form.jobtype != null
    },
    invalidFeedbackJobtype () {
      if (this.form.jobtype != null) {
        return ''
      }
      return 'กรุณาเลือกประเภทงานของคุณ'
    },
    stateRequire () {
      return this.form.require >= 1
    },
    invalidFeedbackRequire () {
      if (this.form.require > 0) {
        return 'จำนวนที่รับต้องมีขนาดอย่างน้อย 1 คน'
      }
      return 'ต้องใส่จำนวนที่รับ'
    },
    stateResponsibility () {
      return this.form.responsibility.length >= 2
    },
    invalidFeedbackResponsibility () {
      if (this.form.responsibility.length > 0) {
        return ''
      }
      return 'ต้องใส่รายละเอียดความรับผิดชอบ'
    },
    stateRequirements () {
      return this.form.requirements.length >= 2
    },
    invalidFeedbackRequirements () {
      if (this.form.requirements.length > 0) {
        return ''
      }
      return 'ต้องใส่รายละเอียดของคุณสมบัติที่ต้องการ'
    },
    stateProvinces () {
      return this.form.provinces.length >= 2
    },
    invalidFeedbackProvinces () {
      if (this.form.provinces.length > 0) {
        return ''
      }
      return 'ต้องใส่รายละเอียดการติดต่อ'
    },
    stateContact () {
      return this.form.contact.length >= 2
    },
    invalidFeedbackContact () {
      if (this.form.contact.length > 0) {
        return ''
      }
      return 'ต้องใส่รายละเอียดการติดต่อ'
    },
    stateSalary () {
      return this.form.salary > 1000
    },
    invalidFeedbackSalary () {
      if (this.form.salary > 0) {
        return ''
      }
      return 'ต้องใส่เงินเดือน'
    }
  },
  mounted () {
    console.log('Vue component is mounted')
    this.getJobposting()
  }
}
</script>
